@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav{
    padding: 15px;
    /*border: 2px solid black; */
    text-align: center;
    background-color: black;
    color: white;
}
section{
    display: none;
}

nav span{
    padding: 8px;
    margin: 0px 10px 0px 10px;
}
section .list-container {
    text-align: center;
    display: inline-block;
    position: relative;
    left: 20px;
    margin-top: 8px;
}

section ul {
    list-style: none;
    display: inline-block;
    margin: 0px 8px 0px 8px;
    line-height: 2;
    padding: 8px;
    text-align: justify;

}
.list.items {
    position: relative;
    bottom: 63px;

}
.section-2 .list.items{
    bottom: 75px;
}
.section-1 .large.txt {
    font-size: 23px;
    font-weight: bold;
}

.store:hover ~ .section-1 {
    display: block;

}
.mac:hover ~ .section-2 {
    display: block;
}
.ipad:hover ~ .section-3 {
    display: block;
}
.iphone:hover ~ .section-4 {
    display:  block;
}
.watch:hover ~ .section-5 {
    display: block;
}