*{
    margin: 0px;
    padding: 0px;
}

img {
    width: 30px;
    height: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: white;
}

.left-section {
    display: flex;
    justify-content: column;
    align-items: center;
}

.left-section .address {
    display: flex;
    flex-direction: column;
}

.left-section .address a {
    color: white;
}

.left-section select .address {
    padding: 5px;
}

.left-section select {
    border: none;
    background-color: black;
    color: white;
    margin-right: 60px;
}

.left-section .address {
    border-left: 1px solid white;
    line-height: 16px;
    padding: 5px;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-section .img {
    width: 35px;
    height: 35px;
    padding: 5px;
}

.right-section .right-sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0px 8px 0px 8px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: white;
    color: black;
}
section {
    display: none;
}

nav span {
    padding: 8px;
    margin: 0px 10px 0px 10px;
}
section .list-container {
    text-align: center;
    display: inline-block;
    position: relative;
    left: 20px;
    margin-top: 8px;
}

section ul {
    list-style: none;
    display: inline-block;
    margin: 0px 8px 0px 8px;
    line-height: 2;
    padding: 8px;
    text-align: justify;

}
.list.items {
    position: relative;
    bottom: 63px;

}
.section-2 .list-items{
    bottom: 75px;
}
.section-1 .large.txt {
    font-size: 23px;
    font-weight: bold;
}

.PRODUCTS:hover ~ .section-1 {
    display: block;

}
.NEW-ARRIVALS:hover ~ .section-2 {
    display: block;
}
.SCPEIAL-SIZE:hover ~ .section-3 {
    display: block;
}
.WEDDING-STORE:hover ~ .section-4 {
    display:  block;
}
.GIFT-CARDS:hover ~ .section-5 {
    display: block;
}
.SALE:hover ~ .section- {
    display: block;
}